<html>
<head>
    <title>道德经</title>
    <meta name="keywords" content="王恺的博客、丰子恺撒、王恺"/>
    <meta name="description" content="随机返回道德经壁纸"/>
    <meta name="share-data" share-title="道德经壁纸" share-desc="随机返回道德经壁纸"
          share-img="/img/favicon.jpg" />
    <script type="text/javascript" src="/js/baidutj.js"></script>
</head>
<body>
<img th:src="${url}">
</body>
<script type="text/javascript" src="/mobile/assets/vendors/jquery/jquery.min.js"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js" type="text/javascript"></script>
<script src="/js/weixin.js"></script>
</html>