<html>
<head>
    <title>每日一图</title>
    <meta name="keywords" content="每日一图、王恺的博客、丰子恺撒、王恺"/>
    <meta name="description" content="每天抓取必应首页图"/>
    <meta name="share-data" share-title="每日一图" share-desc="每天抓取必应首页图"
          share-img="/img/favicon.jpg" />
    <script type="text/javascript" src="/js/baidutj.js"></script>
</head>
<body th:style="|background: url(${url});background-size:cover;|">
</body>
<script src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js" type="text/javascript"></script>
<script src="/js/weixin.js"></script>
</html>