<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加博客</title>
    <link rel="stylesheet"href="/editormd/css/editormd.css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/editormd/editormd.js"></script>
    <script type="text/javascript" src="/js/baidutj.js"></script>
</head>
<body>
<form id="blog">
    <div>
        <span>博客标题:</span>&nbsp;&nbsp;<input id="title" name="title" ><p>
        <span>作者:</span>&nbsp;&nbsp;<input id="author" name="author" ><p>
        <span>文章类型:</span><select id="type" name="type"><option value="10">原创</option><option value="20">转载</option></select><p>
        <span>转载地址:</span><input id="loadUrl" name="loadUrl"><p>
        <span>文章标签:</span><input id="label" name="label"><p>
        <span>文章摘要:</span><input id="blogAbstract" name="blogAbstract"><p>
        <span>缩略图地址:</span><input id="img" name="img"><p>
        <span>内容:</span>
        <div id="my-editormd" >
            <textarea id="description" name="description" style="display:none;"></textarea>
            <!-- 注意：name属性的值-->
            <textarea id="my-editormd-html-code" name="my-editormd-html-code" style="display:none;"></textarea>
        </div>
        <input type="button" value="保存" id="save">
    </div>
</form>
</body>
<script type="text/javascript">
    $(function() {
        editormd("my-editormd", {//注意1：这里的就是上面的DIV的id属性值
            width   : "90%",
            height  : 640,
            syncScrolling : "single",
            path    : "/editormd/lib/",//注意2：你的路径
            saveHTMLToTextarea : true//注意3：这个配置，方便post提交表单
        });

    $("#save").on('click',function(){
        $.ajax({
            type:"POST",
            url:"/blog/add",
            data:$('#blog').serialize(),
            success:function(data){
                if(data.status='100000'){
                    alert("成功")
                }else{
                    alert("失败："+data.msg);
                }
            },
            error:function(data){
                alert("加载失败");
            }
        })
    })

    });
</script>
</html>