<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title th:text="|王恺的博客 - ${blog.title} - 丰子恺撒|">王恺的博客</title>
  <meta name="keywords" th:content="|${blog.title}、王恺的博客、丰子恺撒、王恺|" />
  <meta name="description" th:content="${blog.blogAbstract}" />
  <link href="/blog/css/base.css" rel="stylesheet">
  <link href="/blog/css/main.css" rel="stylesheet">
  <link href="/editormd/css/editormd.preview.css" rel="stylesheet">
  <script src="/blog/js/modernizr.js"></script>
  <script type="text/javascript" src="/js/baidutj.js"></script>
  <script src="/js/jquery.min.js"></script>
</head>
<body>
<div id="wrapper">

  <!--header-->
  <div th:replace="blog/header"></div>

  <div class="container">
    <div class="con_content">
      <div class="about_box">
        <h2 class="nh1"><span>您现在的位置是：<a href="/blog">博客列表</a>>><a th:text="${blog.title}"></a></span><b>详情</b></h2>

        <div class="f_box">
          <p class="a_title" th:text="${blog.title}"></p>
          <p class="p_title"></p>
            <p class="box_p">
              <span th:text="|发布时间：${#dates.format(blog.createTime,'yyyy-MM-dd HH:mm:ss')}|"></span>
              <span th:text="|作者：${blog.author}|"></span>
              <span th:text="${blog.type==10} ? '类型：原创':'类型：转载'"></span>
              <!--<span th:text="|浏览：${blog.readCount}次|"></span>-->
              <!--<span>评论：<a href="#SOHUCS" id="changyan_count_unit"></a>次</span>-->
            </p>
        </div>

        <ul class="about_content">
          <div id="doc-content">
            <textarea style="display:none;" th:text="${blog.description}"></textarea>
          </div>
        </ul>
      </div>
    </div>
    <div class="blank"></div>
  </div>
  <!-- container代码 结束 -->

  <!--底部-->
  <div th:replace="blog/footer"></div>
</div>
</body>

<script src="/editormd/lib/marked.min.js"></script>
<script src="/editormd/lib/prettify.min.js"></script>
<script src="/editormd/lib/raphael.min.js"></script>
<script src="/editormd/lib/underscore.min.js"></script>
<script src="/editormd/lib/sequence-diagram.min.js"></script>
<script src="/editormd/lib/flowchart.min.js"></script>
<script src="/editormd/lib/jquery.flowchart.min.js"></script>
<script src="/editormd/editormd.min.js"></script>
<!--<script type="text/javascript" src="https://assets.changyan.sohu.com/upload/plugins/plugins.count.js"></script>-->
<script type="text/javascript" src="/js/biegaowo.js"></script>
<script type="text/javascript">
    var testEditor;
    $(function () {
        testEditor = editormd.markdownToHTML("doc-content", {//注意：这里是上面DIV的id
            htmlDecode: "style,script,iframe",
            emoji: true,
            taskList: true,
            tex: true, // 默认不解析
            flowChart: true, // 默认不解析
            sequenceDiagram: true, // 默认不解析
            codeFold: true,
        });
    })
</script>
</html>
