<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>丰子恺撒-博客主页</title>
<meta name="keywords" content="博客" />
<meta name="description" content="博客" />
<link href="blog/css/base.css" rel="stylesheet">
<link href="blog/css/index.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="blog/js/modernizr.js"></script>
<![endif]-->
<script type="text/javascript" src="blog/js/jquery.js"></script>
</head>
<body>
<div id="wrapper">
  <header>
    <div class="headtop"></div>
    <div class="contenttop">
      <div class="logo f_l">丰子恺撒-博客主页</div>
      <!--<div class="search f_r">
        <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
          <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
          <input name="show" value="title" type="hidden">
          <input name="tempid" value="1" type="hidden">
          <input name="tbname" value="news" type="hidden">
          <input name="Submit" class="input_submit" value="搜索" type="submit">
        </form>
      </div>-->

      <div class="search f_r">
        <h1>不为谁而作的歌--JJ林俊杰</h1>
        <audio src="http://oxp9goqe4.bkt.clouddn.com/jj.mp3" controls="controls"></audio>
      </div>


      <div class="blank"></div>
      <nav>
        <div  class="navigation">
          <ul class="menu">
            <li><a href="/">网站首页</a></li>
            <li><a href="">关于我</a>
              <ul>
                <li><a href="">个人简介</a></li>
                <li><a href="">个人相册</a></li>
              </ul>
            </li>
            <li><a href="#">我的日记</a>
              <ul>
                <li><a href="">个人日记</a></li>
                <li><a href="">学习笔记</a></li>
              </ul>
            </li>
            <li><a href="">技术文章</a> </li>
            <li><a href="">给我留言</a> </li>
          </ul>
        </div>
      </nav>
      <SCRIPT type=text/javascript>
	// Navigation Menu
	$(function() {
		$(".menu ul").css({display: "none"}); // Opera Fix
		$(".menu li").hover(function(){
			$(this).find('ul:first').css({visibility: "visible",display: "none"}).slideDown("normal");
		},function(){
			$(this).find('ul:first').css({visibility: "hidden"});
		});
	});
</SCRIPT> 
    </div>
  </header>
  <div class="jztop"></div>
  <div class="container">
    <div class="bloglist f_l">

      <div th:each="blog : ${blogList}">
        <h3><a th:href="@{/blog/detail/{id}(id=${blog.id})}" th:text="${blog.title}"></a></h3>
        <figure><img th:src="${blog.img}" alt=""></figure>
        <ul>
          <p th:text="${#strings.abbreviate(blog.blogAbstract,100)}"></p>
          <a th:title="${blog.title}" th:href="@{/blog/detail/{id}(id=${blog.id})}" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
        </ul>
        <p class="dateview">
          <span th:text="${#dates.format(blog.createTime,'yyyy-MM-dd')}"></span>
          <span th:text="|作者：${blog.author}|"></span>
          <span th:text="|标签：${blog.label}|"></span>
          <span th:text="${blog.type==10} ? '类型：原创':'类型：转载'"></span>
          <span th:text="|浏览：${blog.readCount}次|"></span>
        </p>
      </div>

    </div>
    <div class="r_box f_r">
      <div class="tit01">
        <h3 class="tit">关注我</h3>
        <div class="gzwm">
          <ul>
            <li><a class="email" title="15210104479">我的电话</a></li>
            <li><a class="qq" href="mailto:likecode@126.com" target="_blank" title="likecode@126.com">我的邮箱</a></li>
            <li><a class="tel" title="769549158">我的QQ</a></li>
            <li><a class="prize" href="" title="feng-zi-kai">我的微信</a></li>
          </ul>
        </div>
      </div>




      <div class="ph">
        <h3 class="tit">友情链接</h3>
        <ul class="rank">
          <li th:each="friend :${friend10}"><a th:href="${friend.url}" th:title="${friend.name}" target="_blank" th:text="${friend.name}"></a></li>
        </ul>
      </div>


      <div class="tuwen">
        <h3 class="tit">其他技术相关网站</h3>
        <ul>
          <li th:each="friend :${friend20}"><a th:href="${friend.url}" th:title="${friend.name}" target="_blank"><img src=""><b th:text="${friend.name}">我的网易博客</b></a></li>
        </ul>
      </div>

      <div class="ad"><img src="http://oxp9goqe4.bkt.clouddn.com/%E5%8F%A4%E8%A3%85_%E5%A5%B3.jpg"></div>
      <div class="ad"><img src="http://oxp9goqe4.bkt.clouddn.com/%E5%8F%A4%E8%A3%85_%E7%94%B7.jpg"></div>


    </div>
  </div>

  <footer>
    <div class="footer">
      <div class="f_l">
        <p>Copyright © 2017 - wangkai</p>
      </div>
      <!--<div class="f_r textr">-->
        <!--<p>Design by DanceSmile</p>-->
      <!--</div>-->
    </div>
  </footer>
</div>
</body>
</html>
