<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>我的博客</title>
  <meta name="keywords" content="博客" />
  <meta name="description" content="博客" />
  <link href="/blog/css/base.css" rel="stylesheet">
  <link href="/blog/css/main.css" rel="stylesheet">
  <link href="/editormd/css/editormd.preview.css" rel="stylesheet">
<!--[if lt IE 9]>
  <script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<div id="wrapper">
  <header>
    <div class="headtop"></div>
    <div class="contenttop">
      <div class="logo f_l">博客详情</div>
      <!--<div class="search f_r">
        <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
          <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
          <input name="show" value="title" type="hidden">
          <input name="tempid" value="1" type="hidden">
          <input name="tbname" value="news" type="hidden">
          <input name="Submit" class="input_submit" value="搜索" type="submit">
        </form>
      </div>-->
      <div class="blank"></div>
      <nav>
        <div  class="navigation">
          <ul class="menu">
            <li><a href="/">网站首页</a></li>
            <li><a href="">关于我</a>
              <ul>
                <li><a href="">个人简介</a></li>
                <li><a href="">个人相册</a></li>
              </ul>
            </li>
            <li><a href="#">我的日记</a>
              <ul>
                <li><a href="">个人日记</a></li>
                <li><a href="">学习笔记</a></li>
              </ul>
            </li>
            <li><a href="">技术文章</a> </li>
            <li><a href="">给我留言</a> </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <div class="container">
    <div class="con_content">
      <div class="about_box">
        <h2 class="nh1"><span>您现在的位置是：<a href="/blog">博客列表</a>>><a th:text="${blog.title}"></a></span><b>详情</b></h2>
        <div class="f_box">
          <p class="a_title" th:text="${blog.title}"></p>
          <p class="p_title"></p>
            <p class="box_p">
              <span th:text="|发布时间：${#dates.format(blog.createTime,'yyyy-MM-dd HH:mm:ss')}|"></span>
              <span th:text="|作者：${blog.author}|"></span>
              <span th:text="${blog.type==10} ? '类型：原创':'类型：转载'"></span>
              <span th:text="|浏览：${blog.readCount}次|"></span>
            </p>
          <!-- 可用于内容模板 --> 
        </div>
        <ul class="about_content">
          <div id="doc-content">
            <textarea style="display:none;" th:text="${blog.description}"></textarea>
          </div>
        </ul>
        <!-- 可用于内容模板 -->
        
        <!-- container代码 结束 --> 
      </div>
    </div>
    <div class="blank"></div>
  </div>
  <!-- container代码 结束 -->

  <footer>
    <div class="footer">
      <div class="f_l">
        <p>Copyright © 2017 - wangkai</p>
      </div>
      <!--<div class="f_r textr">-->
      <!--<p>Design by DanceSmile</p>-->
      <!--</div>-->
    </div>
  </footer>
</div>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/editormd/lib/marked.min.js"></script>
<script src="/editormd/lib/prettify.min.js"></script>
<script src="/editormd/lib/raphael.min.js"></script>
<script src="/editormd/lib/underscore.min.js"></script>
<script src="/editormd/lib/sequence-diagram.min.js"></script>
<script src="/editormd/lib/flowchart.min.js"></script>
<script src="/editormd/lib/jquery.flowchart.min.js"></script>
<script src="/editormd/editormd.min.js"></script>
<script type="text/javascript">
    var testEditor;
    $(function () {
        $(".menu ul").css({display: "none"}); // Opera Fix
        $(".menu li").hover(function(){
            $(this).find('ul:first').css({visibility: "visible",display: "none"}).slideDown("normal");
        },function(){
            $(this).find('ul:first').css({visibility: "hidden"});
        });

        testEditor = editormd.markdownToHTML("doc-content", {//注意：这里是上面DIV的id
            htmlDecode: "style,script,iframe",
            emoji: true,
            taskList: true,
            tex: true, // 默认不解析
            flowChart: true, // 默认不解析
            sequenceDiagram: true, // 默认不解析
            codeFold: true,
        });


    })
</script>
</html>
