<header>
    <div class="headtop"></div>
    <div class="contenttop">
        <div class="logo f_l">丰子恺撒&nbsp;&nbsp;<span>勿忘初心，方得始终</span></div>

        <div class="search f_r">
          <form action="https://www.baidu.com" id="searchform" target="_blank">
            <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
            <input name="show" value="title" type="hidden">
            <input name="tempid" value="1" type="hidden">
            <input name="tbname" value="news" type="hidden">
            <input name="Submit" class="input_submit" value="搜索" type="submit">
          </form>
        </div>

        <div class="blank"></div>
        <nav>
            <div  class="navigation">
                <ul class="menu">
                    <li><a href="/">网站首页</a></li>
                    <li><a href="/album/myPicture">我的相册</a></li>
                    <!--<li><a href="/blog/msgBoard">留言板</a></li>-->
                    <li><a href="/home">满屏弹幕</a></li>
                    <li><a href="/v2ex">V站好文</a></li>
                    <!--<li><a href="">关于我</a>-->
                        <!--<ul>-->
                            <!--<li><a href="">个人简介</a></li>-->
                            <!--<li><a href="/blog/myPicture">个人相册</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li><a href="#">我的日记</a>-->
                        <!--<ul>-->
                            <!--<li><a href="">个人日记</a></li>-->
                            <!--<li><a href="">学习笔记</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li><a href="">技术文章</a> </li>-->
                    <!--<li><a href="/blog/msgBoard">留言版</a> </li>-->
                </ul>
            </div>
        </nav>
    </div>
</header>
<script type="text/javascript">
    $(function () {
        $(".menu ul").css({display: "none"}); // Opera Fix
        $(".menu li").hover(function(){
            $(this).find('ul:first').css({visibility: "visible",display: "none"}).slideDown("normal");
        },function(){
            $(this).find('ul:first').css({visibility: "hidden"});
        });


        var hiddenProperty = 'hidden' in document ? 'hidden' :
            'webkitHidden' in document ? 'webkitHidden' :
                'mozHidden' in document ? 'mozHidden' :
                    null;
        var visibilityChangeEvent = hiddenProperty.replace(/hidden/i, 'visibilitychange');
        var onVisibilityChange = function(){
            if (!document[hiddenProperty]) {
                $("title").html("丰子恺撒-博客主页");
            }else{
                $("title").html("爱我，别走~");
            }
        }
        document.addEventListener(visibilityChangeEvent, onVisibilityChange);

    })
</script>