<header>
    <div class="headtop"></div>
    <div class="contenttop">
        <div class="logo f_l">丰子恺撒&nbsp;&nbsp;<span>知行合一，活在当下</span></div>
        <div class="blank"></div>
        <nav>
            <div  class="navigation">
                <ul class="menu">
                    <li><a href="/blog">我的博客</a></li>
                    <li><a href="/news">天天热榜</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<script type="text/javascript">
    $(function () {
        $(".menu ul").css({display: "none"}); // Opera Fix
        $(".menu li").hover(function(){
            $(this).find('ul:first').css({visibility: "visible",display: "none"}).slideDown("normal");
        },function(){
            $(this).find('ul:first').css({visibility: "hidden"});
        });


        var hiddenProperty = 'hidden' in document ? 'hidden' :
            'webkitHidden' in document ? 'webkitHidden' :
                'mozHidden' in document ? 'mozHidden' :
                    null;
        var visibilityChangeEvent = hiddenProperty.replace(/hidden/i, 'visibilitychange');
        var onVisibilityChange = function(){
            if (!document[hiddenProperty]) {
                $("title").html("丰子恺撒-博客主页");
            }else{
                $("title").html("爱我，别走~");
            }
        }
        document.addEventListener(visibilityChangeEvent, onVisibilityChange);

    })
</script>