<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>王恺的博客</title>
  <meta name="keywords" content="王恺、丰子恺撒、恺撒、小撒" />
  <meta name="description" content="王恺的个人博客，学习笔记，生活记录，感想随笔等。" />
  <link href="/blog/css/base.css" rel="stylesheet">
  <link href="/blog/css/main.css" rel="stylesheet">
  <script src="/blog/js/modernizr.js"></script>
  <script type="text/javascript" src="/blog/js/jquery.js"></script>
  <script type="text/javascript" src="/js/baidutj.js"></script>
</head>
<body>
<div id="wrapper">
  <div th:replace="blog/header"></div>
  <div class="container">
    <div class="con_content">
      <div class="about_box">
        <h2 class="nh1"><span>您现在的位置是：<a href="/blog">博客首页</a>>><a>留言板</a></span><b>留言</b></h2>
        <div class="f_box">
          <p class="a_title">留个言再走吧</p>
          <p class="p_title"></p>
          <!--  <p class="box_p"><span>发布时间：2017-07-07 15:12:42</span><span>作者：唐孝文</span><span>来源：稽查支队</span><span>点击：111056</span></p>--> 
          <!-- 可用于内容模板 --> 
        </div>
        <ul class="about_content">
          <!--畅言评论系统开始-->
          <div>
            <!--PC和WAP自适应版-->
            <div id="SOHUCS" sid="0" ></div>
            <script type="text/javascript">
                (function(){
                    var appid = 'cytEkJkov';
                    var conf = 'prod_ccfc318e01f076c9021108ce4d5c888c';
                    var width = window.innerWidth || document.documentElement.clientWidth;
                    if (width < 960) {
                        window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>
          </div>
          <!--畅言评论系统结束-->
        </ul>
      </div>
    </div>
    <div class="blank"></div>
  </div>

  <!--底部-->
  <div th:replace="blog/footer"></div>
</div>
</body>
<script type="text/javascript" src="https://assets.changyan.sohu.com/upload/plugins/plugins.count.js"></script>
</html>
