<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>丰子恺撒-博客主页</title>
  <meta name="keywords" content="博客" />
  <meta name="description" content="博客" />
  <link href="/blog/css/picture.css" rel="stylesheet" type="text/css">
  <link href="/blog/css/base.css" rel="stylesheet">
  <link href="/blog/css/main.css" rel="stylesheet">


  <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="http://www.jq22.com/demo/jQuery3Dlbt201703302245/js/jquery.fancybox.pack.js"></script>

  <!--[if lt IE 9]>
  <script src="/blog/js/modernizr.js"></script>
  <![endif]-->
  <script type="text/javascript" src="/js/jquery.min.js"></script>
</head>
<body>
<div id="wrapper">
  <!--header-->
  <div th:replace="blog/header"></div>
  <div class="container">
    <div class="con_content">
      <div class="about_box">
        <h2 class="nh1"><span>您现在的位置是：<a href="/blog">博客首页</a>>><a href="#" target="_blank">个人相册</a></span><b>相册</b></h2>


        <div class="lispic">
          <div class="in exhibition_hall">
            <span style="font-size: initial;color: black;">非加密相册，可自由查看。</span>
            <div  class="roundabout_box">
              <ul>
                <li><a href="/blog/images/01.jpg" target="_blank"><img src="/blog/images/01.jpg" alt=""><span class="text">Picture 1</span></a></li>
                <li><a href="/blog/images/02.jpg" target="_blank"><img src="/blog/images/02.jpg" alt=""><span class="text">Picture 2</span></a></li>
                <li><a href="/blog/images/03.jpg" target="_blank"><img src="/blog/images/03.jpg" alt=""><span class="text">Picture 3</span></a></li>
                <li><a href="/blog/images/04.jpg" target="_blank"><img src="/blog/images/04.jpg" alt=""><span class="text">Picture 4</span></a></li>
                <li><a href="/blog/images/06.jpg" target="_blank"><img src="/blog/images/06.jpg" alt=""><span class="text">Picture 6</span></a></li>
              </ul>
            </div>
            <div class="clear"></div>
          </div>
        </div>

        <div class="lispic">
          <div class="in exhibition_hall">
            <span style="font-size: initial;color: black;">加密相册，回答问题可见。密码：<input type="text" id="pwd" name="" placeholder="点击此处输入密码"><button id="sure">确定</button></span>
            <div class="roundabout_box">
              <ul id="secrecyPicture">
                <li><a><img src="/blog/images/mimi.jpg"><span class="text">保密相册</span></a></li>
              </ul>
            </div>
            <div class="clear"></div>
          </div>
        </div>

      </div>
    </div>
    <div class="blank"></div>
  </div>
    <footer>
      <div class="footer">
        <div class="f_l">
          <p>Copyright © 2017 - wangkai</p>
        </div>
        <!--<div class="f_r textr">-->
        <!--<p>Design by DanceSmile</p>-->
        <!--</div>-->
      </div>
    </footer>
  </div>
<script src="http://www.jq22.com/demo/jQuery3Dlbt201703302245/js/jquery.roundabout.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.roundabout_box ul').roundabout({
            duration: 1000,
            minScale: 0.6,
            autoplay: false,
            autoplayDuration: 5000,
            minOpacity: 0,
            maxOpacity: 1,
            reflect: false,
            startingChild: 4,
            autoplayInitialDelay: 5000,
            autoplayPauseOnHover: false,
            enableDrag: false
        });

        $("#sure").on('click',function(){
            var pwd=$("#pwd").val();
            if(""==pwd || null ==pwd){
                alert("密码不可为空");
                return false;
            }
            $.ajax({
                type: "POST",
                url:"/blog/secrecyPicture",
                data:{
                    pwd:pwd
                },
                error: function(request) {
                    window.location.href="error";
                },
                success: function(result) {
                    if(result.status==10000){
                        var len = result.result.length;
                        $("#secrecyPicture").html("");
                        for (var i = 0; i < len; i++) {
                            var name=result.result[i].name;
                            var url=result.result[i].url;
                            var li='<li><a href="/blog/images/'+url+'" target="_blank"><img src="/blog/images/'+url+'" alt=""><span class="text">'+name+'</span></a></li>';
                            $("#secrecyPicture").append(li);
                        }

                    }else{
                        alert("密码错误!");
                    }
                }
            });
        })
    });
</script>

</body>
</html>