<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>王恺的博客</title>
  <meta name="keywords" content="王恺、丰子恺撒、恺撒、小撒" />
  <meta name="description" content="王恺的个人博客，学习笔记，生活记录，感想随笔等。" />
<link href="/css/base.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/baidutj.js"></script>
</head>
<body>
<div id="wrapper">

  <!--header-->
  <div th:replace="blog/header"></div>

  <div class="container">
    <div class="con_content">
      <div class="about_box">
      <h2 class="nh1"><span>您现在的位置是：<a href="/" target="_blank">网站首页</a>>><a href="#" target="_blank">个人日记</a></span><b>个人日记</b></h2>
      <div class="dtxw box">
        <li>
          <div class="dttext f_l">
            <ul>
              <h2><a href="/">个人博客模板古典系列之――江南墨卷</a></h2>
              <p>个人博客模板古典系列之――江南墨卷个人博客模板古典系列之――江南墨卷个人博客模板古典系列之――江南墨卷原汁原味重现经典....</p>
              <span>2017-3-10</span>
            </ul>
          </div>
          <div class="xwpic f_r"><a href="/"><img src="images/02.jpg"></a></div>
        </li>
        <li>
          <div class="dttext f_l">
            <ul>
              <h2><a href="/">个人博客模板古典系列之――江南墨卷</a></h2>
              <p>个人博客模板古典系列之――江南墨卷个人博客模板古典系列之――江南墨卷广安领先....</p>
              <span>2017-3-10</span>
            </ul>
          </div>
          <div class="xwpic f_r"><a href="/"><img src="images/01.jpg"></a></div>
        </li>
        <li>
          <div class="dttext f_l">
            <ul>
              <h2><a href="/">个人博客模板古典系列之――江南墨卷</a></h2>
              <p>个人博客模板古典系列之――江南墨卷个人博客模板古典系列之――江南墨卷个人博客模板古典系列之――江南墨卷原汁原味重现经典....</p>
              <span>2017-3-10</span>
            </ul>
          </div>
          <div class="xwpic f_r"><a href="/"><img src="images/03.jpg"></a></div>
        </li>
        <li>
          <div class="dttext f_l">
            <ul>
              <h2><a href="/">个人博客模板古典系列之――江南墨卷</a></h2>
              <p>个人博客模板古典系列之――江南墨卷个人博客模板古典系列之――江南墨卷个人博客模板古典系列之――江南墨卷原汁原味重现经典</p>
              <span>2017-3-10</span>
            </ul>
          </div>
          <div class="xwpic f_r"><a href="/"><img src="images/04.jpg"></a></div>
        </li>
        <li>
          <div class="dttext f_l">
            <ul>
              <h2><a href="/">个人博客模板古典系列之――江南墨卷</a></h2>
              <p>个人博客模板古典系列之――江南墨卷个人博客模板古典系列之――江南墨卷个人博客模板古典系列之――江南墨卷原汁原味重现经典</p>
              <span>2017-3-10</span>
            </ul>
          </div>
          <div class="xwpic f_r"><a href="/"><img src="images/02.jpg"></a></div>
        </li>
        <li>
          <div class="dttext f_l">
            <ul>
              <h2><a href="/">个人博客模板古典系列之――江南墨卷</a></h2>
              <p>个人博客模板古典系列之――江南墨卷个人博客模板古典系列之――江南墨卷个人博客模板古典系列之――江南墨卷原汁原味重现经典</p>
              <span>2017-3-10</span>
            </ul>
          </div>
          <div class="xwpic f_r"><a href="/"><img src="images/06.jpg"></a></div>
        </li>
      </div>
      <div class="pagelist">页次：1/1 每页25 总数10<a href="/">首页</a><a href="/">上一页</a><a href="/">下一页</a><a href="/">尾页</a></div>
    </div>
  </div>
    <div class="blank"></div>
  <!-- container代码 结束 -->

  <!--底部-->
  <div th:replace="blog/footer"></div>
</div>
</div>
</body>
</html>