<!DOCTYPE html>
<html lang="en">
<head>
    <title>即时热榜</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="王恺、丰子恺撒、恺撒、小撒"/>
    <meta name="description" content="王恺的个人博客，学习笔记，生活记录，感想随笔等。"/>
    <meta name="share-data" share-title="即时热榜" share-desc="集成并即时更新各大主流网站热门信息。建议收藏，随时体验。"
          share-img="/img/news.png" />
    <link rel="icon" href="https://www.iluwen.com/favicon.ico">
    <title>hot</title>
    <link href="/css/news.css" rel="preload" as="style">
    <link href="/js/app.js" rel="preload" as="script">
    <link href="/js/chunk-vendors.js" rel="preload" as="script">
    <link href="/css/news.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/mobile/assets/fonts/fontawesome/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/mobile/assets/fonts/pe-icon/pe-icon.css">
    <!-- Vendors-->
    <link rel="stylesheet" type="text/css" href="/mobile/assets/vendors/bootstrap/grid.css">
    <link rel="stylesheet" type="text/css" href="/mobile/assets/vendors/magnific-popup/magnific-popup.min.css">
    <link rel="stylesheet" type="text/css" href="/mobile/assets/vendors/swiper/swiper.css">
    <!-- App & fonts-->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Open+Sans:400,700">
    <link rel="stylesheet" type="text/css" id="app-stylesheet" href="/mobile/assets/css/main.css">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script type="text/javascript" src="/js/baidutj.js"></script>
</head>
<body>
<div th:replace="mobile/header"></div>
<div id="app">
</div>
<script src="/js/chunk-vendors.js"></script>
<script src="/js/app.js"></script>

<script type="text/javascript" src="/mobile/assets/vendors/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/mobile/assets/vendors/jquery.matchHeight/jquery.matchHeight.min.js"></script>
<script type="text/javascript" src="/mobile/assets/js/main.js"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js" type="text/javascript"></script>
<script src="/js/weixin.js"></script>
</body>
</html>
