<!DOCTYPE html>
<html>
	<head>
		<title>关于我</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="keywords" content="王恺、丰子恺撒、恺撒、小撒"/>
		<meta name="description" content="王恺的个人博客，学习笔记，生活记录，感想随笔等。"/>
		<!-- Fonts-->
		<link rel="stylesheet" type="text/css" href="/mobile/assets/fonts/fontawesome/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="assets/fonts/pe-icon/pe-icon.css">
		<!-- Vendors-->
		<link rel="stylesheet" type="text/css" href="/mobile/assets/vendors/bootstrap/grid.css">
		<link rel="stylesheet" type="text/css" href="/mobile/assets/vendors/magnific-popup/magnific-popup.min.css">
		<link rel="stylesheet" type="text/css" href="/mobile/assets/vendors/swiper/swiper.css">
		<!-- App & fonts-->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Open+Sans:400,700">
		<link rel="stylesheet" type="text/css" id="app-stylesheet" href="/mobile/assets/css/main.css"><!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->
	</head>
	
	<body>
		<div class="page-wrap" id="root">
			
			<!-- header -->
			<div th:replace="mobile/header"></div>
			
			<!-- Content-->
			<div class="wil-content">
				
				<!-- Section -->
				<section class="awe-section">
					<div class="container">
						
						<!-- page-title -->
						<div class="page-title pb-40">
							<h2 class="page-title__title">About me</h2>
							<p class="page-title__text">勿忘初心，方得始终</p>
							<div class="page-title__divider"></div>
						</div><!-- End / page-title -->
						
					</div>
				</section>
				<!-- End / Section -->
				
				
				<!-- Section -->
				<section class="awe-section bg-gray">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-lg-5 "><img src="http://www.iluwen.com:8090/timg.jpg" alt="">
							</div>
							<div class="col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-1 ">
								
								<!--  -->
								<div class="mt-30">
									<h2 class="about__title">联系我</h2>
									<p class="about__subtitle">微信：ZmVuZy16aS1rYWk=</p>
									<p class="about__subtitle">邮箱：likecode@126.com</p>
								</div><!-- End /  -->
								
							</div>
						</div>
					</div>
				</section>
				<!-- End / Section -->
			</div>
			<!-- End / Content-->
		</div>
		<!-- Vendors-->
		<script type="text/javascript" src="/mobile/assets/vendors/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="/mobile/assets/vendors/imagesloaded/imagesloaded.pkgd.js"></script>
		<script type="text/javascript" src="/mobile/assets/vendors/isotope-layout/isotope.pkgd.js"></script>
		<script type="text/javascript" src="/mobile/assets/vendors/jquery-one-page/jquery.nav.min.js"></script>
		<script type="text/javascript" src="/mobile/assets/vendors/jquery.easing/jquery.easing.min.js"></script>
		<script type="text/javascript" src="/mobile/assets/vendors/jquery.matchHeight/jquery.matchHeight.min.js"></script>
		<script type="text/javascript" src="/mobile/assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="/mobile/assets/vendors/masonry-layout/masonry.pkgd.js"></script>
		<script type="text/javascript" src="/mobile/assets/vendors/jquery.waypoints/jquery.waypoints.min.js"></script>
		<script type="text/javascript" src="/mobile/assets/vendors/swiper/swiper.jquery.js"></script>
		<script type="text/javascript" src="/mobile/assets/vendors/menu/menu.js"></script>
		<script type="text/javascript" src="/mobile/assets/vendors/typed/typed.min.js"></script>
		<!-- App-->
		<script type="text/javascript" src="/mobile/assets/js/main.js"></script>
	</body>
</html>