<!-- header -->
<header class="header header--fixed">
    <div class="header__inner">
        <div class="header__logo"><a href="/blog"><img src="/img/logo2.png" alt="" style="width: 200px;"/></a></div>
        <div class="navbar-toggle" id="fs-button">
            <div class="navbar-icon"><span></span></div>
        </div>
    </div>

    <!-- fullscreenmenu__module -->
    <div class="fullscreenmenu__module" trigger="#fs-button">

        <!-- overlay-menu -->
        <nav class="overlay-menu">

            <!--  -->
            <ul class="wil-menu-list">
                <li><a href="/blog">博客</a>
                </li>
                <li><a href="http://color.iluwen.com">国色</a>
                <li><a href="/news">即时热榜</a>
                </li>
                <li><a href="/nav">丰窝导航</a>
                </li>
                <li><a href="/img">每日一图</a>
                </li>

                </li>
                <!--<li><a href="/img/lol">随机LOL</a>
                </li>-->
                <li><a href="/blog/about">关于</a>
                </li>
                <!--<li><a href="work.html">Work</a>
                </li>
                <li><a href="blog.html">Blog</a>
                </li>
                <li><a href="contact.html">Contact</a>
                </li>-->
            </ul><!--  -->

        </nav><!-- End / overlay-menu -->

    </div><!-- End / fullscreenmenu__module -->

</header><!-- End / header -->