<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.likecode.dao.AlbumDao">

    <select id="getAlbumByType" resultType="com.likecode.bean.Album">
        SELECT * from t_album a WHERE a.type=#{type} AND a.is_del='10'
    </select>
</mapper>
