<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.likecode.dao.BlogDao">
    <insert id="insertBlog" keyProperty="id" parameterType="com.likecode.bean.Blog">
        INSERT INTO t_blog
        (user_id,title,author,type,load_url,label,description,blog_abstract,img,status,create_time,update_time)
        VALUES
        (#{userId},#{title},#{author},#{type},#{loadUrl},#{label},#{description},#{blogAbstract},#{img},10,now(),now())
    </insert>
    <insert id="initBlogStat">
        INSERT INTO t_blog_stat (blog_id)VALUES(#{bid})
    </insert>
    <update id="updateBlog">
            update t_blog
            <set >
                <if test="userId != null" >
                    user_id = #{userId},
                </if>
                <if test="title != null" >
                    title = #{title},
                </if>
                <if test="author != null" >
                    author = #{author},
                </if>
                <if test="type != null" >
                    type = #{type},
                </if>
                <if test="loadUrl != null" >
                    load_url = #{loadUrl},
                </if>
                <if test="label != null" >
                    label = #{label},
                </if>
                <if test="description != null" >
                    description = #{description},
                </if>
                <if test="blogAbstract != null" >
                    blog_abstract = #{blogAbstract},
                </if>
                <if test="img != null" >
                    img = #{img},
                </if>
                <if test="status != null" >
                    status = #{status},
                </if>
                <if test="createTime != null" >
                    create_time = #{createTime},
                </if>
                <if test="updateTime != null" >
                    update_time = #{updateTime},
                </if>
            </set>
            where id = #{id}
    </update>
    <update id="updateBlogStat">
        update t_blog_stat
        <set >
            <if test="str == 'readCount'" >
                read_count=read_count+1
            </if>
            <if test="str == 'upvote'" >
                upvote=upvote+1
            </if>
            <if test="str == 'commentCount'" >
                comment_count=comment_count+1
            </if>
        </set>
        where blog_id=#{id}
    </update>

    <select id="getBlogs" resultType="com.likecode.bean.ext.BlogExt">
         SELECT
            b.*,
            bs.comment_count as commentCount,
            bs.read_count as readCount,
            bs.upvote as upvote
        FROM
            t_blog b
        LEFT JOIN t_blog_stat bs ON b.id = bs.blog_id
        ORDER BY b.create_time DESC
    </select>
    <select id="selectBlog" resultType="com.likecode.bean.ext.BlogExt">
          SELECT
            b.*,
            bs.comment_count as commentCount,
            bs.read_count as readCount,
            bs.upvote as upvote
          FROM
            t_blog b
          LEFT JOIN t_blog_stat bs ON b.id = bs.blog_id
          where b.id=#{id}
    </select>
</mapper>
