.left_div{
    background-color: #bd6815;
    height: 100%;
    width: 240px;
    position: absolute;
    z-index: 99999;
    border-right: 1px solid #151b84;
    border-bottom: 1px solid #151b84;
}

.right_div{
    background-color: rgba(33, 212, 163, 0.27);
    height: 100%;
    width: calc(100% - 245px);
    position: absolute;
    margin-left: 240px;
}

/*.right_div .contact{*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: antiquewhite;*/
/*}*/

/*.right_div .contact .contact_li{*/
    /*float: left;*/
    /*width: 100%;*/
    /*margin-top: 20%;*/
    /*padding: 20px;*/
/*}*/

.home_name{
    float: left;
    font-size: 20px;
    font-style: oblique;
    width: 100%;
    height: 100px;
}

.home_name img{
    background-color: antiquewhite;
    float: left;
    width: 100%;
    height: 100%;
}

.home_name span{
    color: azure;
    float: left;
    margin-top: 35px;
}

.home_info{
    float: left;
    width: 100%;
    height: 160px;
    background-color: azure;
}

.home_info img{
    float: left;
    width: 100%;
}

.home_list{
    float: left;
    margin-top: 10px;
    width: 100%;
    height: 70%;
    /*background-color: blueviolet;*/
}

.home_list span{
    float: left;
    font-size: 23px;
    margin-top: 10px;
    margin-left: 25px;
}

.home_li{
    float: left;
    margin-top: 30px;
    margin-left: 10px;
    width: 90%;
    height: 55px;
    background-color: blanchedalmond;
}

.home_zym{
    float: left;
    margin-top: 10px;
    margin-left: 35px;
}

.home_zym p{
    font-size: 15px;
    font-style: italic;
}

.icon_tip{
    float: left;
    margin-left: 18px;
    margin-top: 5px;
}

.ds{
    position: absolute;
    left: 40%;
    top: 30%;
    width: 300px;
    height: 360px;
    z-index: 11111;
    border: 23px solid #0099ff;
    background-color: antiquewhite;
}

.ds p{
    font-size: 25px;
}

.ds button{
    border-radius: 30px 30px 30px 30px;
    color: #711d1d;
    background-color: #b9e563;
    border-color: #b9e563;
    text-decoration: none;
    outline: none;
    width: 60px;
    height: 31px;
}

.iframe_html{
    height: 100%;
    width: 100%
}



