<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>丰子恺撒</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="css/home.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="iconfont/iconfont.css">
</head>

<body>
    <div class="left_div">
        <span class="home_name">丰窝欢迎您</span>
        <div class="home_info">
            <span class="home_zym">
                <p>天行健，君子以自强不息</p>
                <p>地势坤，君子以厚德载物</p>
            </span>
        </div>
        <div class="home_list">
            <li class="home_li"><i class="iconfont icon-2yen rmb_tip"></i><span>打赏站长</span></li>
            <li class="home_li"></li>
            <li class="home_li"></li>
            <li class="home_li"></li>
        </div>
    </div>


</body>
<div class="ds" style="display: none"></div>

</html>
<script src="js/jquery.min.js"></script>
<script src="js/canvas-nest.js"></script>
<script src="js/home.js"></script>
