<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>王恺的博客</title>
    <meta name="keywords" content="王恺、丰子恺撒、恺撒、小撒" />
    <meta name="description" content="王恺的个人博客，学习笔记，生活记录，感想随笔等。" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="iconfont/iconfont.css">
</head>

<body>
    <div class="wb-bg">
    </div>
    <div class="wb-header">
        <a th:href="@{/love}"><span class="title">献给爱丽丝</span></a>
    </div>
    <div class="wb-carousel">

    </div>
    <div class="wb-content">
        <div id="wb-icon">
            <a th:href="@{/home}"><img src="img/tx.jpg" class="icon" /></a>
        </div>
        <div id="wb-content-site">
            <ul class="site-link">
                <li class="site">
                    <a href="http://weibo.com/p/1005051697116600/home?from=page_100505&mod=TAB&is_all=1#place" title="微博" target="_blank">
                        <span class="fa fa-1_5x">微博</span>
                        <!--<i class="iconfont icon-w"></i>-->
                    </a>
                </li>
                <li class="site">
                    <a href="http://wkbyb.blog.163.com/" title="博客" target="_blank"><span class="fa fa-1_5x">博客</span></a>
                </li>
                <li class="site">
                    <a href="https://www.v2ex.com/member/NullException" title="V站" target="_blank"><span class="fa fa-1_5x">V站</span></a>
                </li>
            </ul>
        </div>
        <div id="wb-content-social">
            <ul class="social-link">
                <li class="social">
                    <a href="https://www.facebook.com/itabas16/" title="Facebook" target="_blank" id="social-facebook" rel="nofollow"><i class="fa fa-facebook fa-2x"></i></a>
                </li>
                <li class="social">
                    <a href="https://www.twitter.com/itabas16/" title="Twitter" target="_blank" id="social-twitter" rel="nofollow"><i class="fa fa-twitter fa-2x"></i></a>
                </li>
                <li class="social">
                    <a href="https://www.instagram.com/itabas016/" title="Instagram" target="_blank" id="social-instagram" rel="nofollow"><i class="fa fa-instagram fa-2x"></i></a>
                </li>
                <li class="social">
                    <a href="https://telegram.me/itabas016" title="Telegram" target="_blank" id="social-telegram" rel="nofollow"><i class="fa fa-telegram fa-2x"></i></a>
                </li>
                <li class="social">
                    <a href="https://plus.google.com/116700701007878295597/" title="Google+" target="_blank" id="social-gplus" rel="nofollow"><i class="fa fa-google-plus fa-2x"></i></a>
                </li>
                <li class="social">
                    <a href="https://500px.com/itabas016/" title="500px" target="_blank" id="social-500px" rel="nofollow"><i class="fa fa-500px fa-2x"></i></a>
                </li>
                <li class="social">
                    <a href="http://weibo.com/struthio/" title="Weibo" target="_blank" id="social-weibo" rel="nofollow"><i class="fa fa-weibo fa-2x"></i></a>
                </li>
                <li class="social">
                    <a href="mailto:itabas016@gmail.com" title="Mail" target="_blank" id="social-mail" rel="nofollow"><i class="fa fa-envelope fa-2x"></i></a>
                </li>
            </ul>
        </div>
    </div>

    <div th:replace="fragments/footer"></div>
</body>

</html>
<script src="js/canvas-nest.js"></script>
