<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆成功页</title>
</head>
<body>
<div><a href="/blog">博客主页</a></div>
<div><a href="/blog/addPage">添加博客页面</a></div>
<div><a href="/friendshipLink/addPage">添加友链页面</a></div>
<div>更新博客</div>
<div th:each="blog : ${blogList}">
    <a th:href="@{/blog/updatePage/{id}(id=${blog.id})}">
        <li th:text="${blog.title}"></li>
    </a>
</div>
</body>
</html>